name: Release kube-trigger Binaries

on:
  push:
    tags:
      - "v*"
  workflow_dispatch: { }

permissions:
  contents: write

env:
  GO_VERSION: '1.19'
  USE_BUILD_CONTAINER: '1'

jobs:
  kube-trigger:
    name: Release kube-trigger Binaries
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ env.GO_VERSION }}
          cache: true

      - name: Setup Go Caches
        uses: actions/cache@v3
        with:
          path: |
            .go/gomodcache
            .go/gocache
          key: ${{ runner.os }}-gobuildcontainer-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-gobuildcontainer-

      - name: Show Make Variables
        run: make trigger-variables

      - name: Get Version
        id: get_version
        run: |
          VERSION=$(make trigger-version)
          echo "VERSION=${VERSION}" >> $GITHUB_OUTPUT

      - name: Build Binaries for All Platforms
        run: make trigger-all-package

      - name: Attach Binaries to Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          fail_on_unmatched_files: true
          prerelease: ${{ contains(steps.get_version.outputs.VERSION, 'alpha') || contains(steps.get_version.outputs.VERSION, 'beta') }}
          files: |
            bin/kube-trigger-packages-latest/*
